@tailwind base;
@tailwind components;
@tailwind utilities;



body::-webkit-scrollbar {width:0 ;}
html, body {
  height: auto;
  overflow-y: auto;
}


[data-scroll-container] {
  min-height: 100vh;
}


.orbit-wrapper {
  perspective: 2000px;
  min-height: 65vh;
}

.orbit-3d {
  position: relative;
  transform-style: preserve-3d;
}

.orbit-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    rotateY(calc((360deg / var(--total)) * var(--i)))
    translateZ(580px);
}
